<!DOCTYPE html>

{% load static %}

{% block header %}
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Parallax Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="{% static 'materialize.css' %}">
  <link type="text/css" rel="stylesheet" href="{% static 'style.css' %}">
  <link type="text/css" rel="stylesheet" href="{% static 'chatbot.css' %}">
</head>
{% endblock header %}

<body>

  {% block navigation_bar %}
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="http://localhost:8000/summary/" class="brand-logo"><i class="large material-icons">home</i>2023 Summer Project</a>
        <ul class="right hide-on-med-and-down">
          <ul id="dropdown2" class="dropdown-content">
            <li><a href="http://localhost:8000/summary/"><i class="material-icons left">home</i>home</a></li>
            <li><a href="http://localhost:8000/report_page/report/"><i class="material-icons left">assignment</i>report</a></li>
            <li><a href="http://127.0.0.1:8000/dashboard/dashboard/#"><i class="material-icons left">insert_chart</i>dashboard</a></li>
          </ul>
            <a class="btn dropdown-trigger teal lighten-2" href="#!" data-target="dropdown2"><i class="material-icons left">menu</i>Quick links
              <i class="material-icons right">arrow_drop_down</i>
            </a>      
        </ul>
    </div>
  </nav>
  {% endblock navigation_bar %}

  {% block content %}{% endblock content %}

  {% block float_botton %}
  <div class="chatbox-wrapper" style="z-index: 10;">
    <div class="chatbox-toggle teal darken-3">
      <a class="btn-floating btn-large pulse teal darken-3"><i class="material-icons">chat</i></a>
    </div>

    <div class="chatbox-message-wrapper">
        <div class="chatbox-message-header">
            <div class="chatbox-message-profile">
                <img src="{% static 'chatbot.png' %}" alt="" class="chatbox-message-image">
                <div>
                    <h4 class="chatbox-message-name">Chatbot</h4>
                    <p class="chatbox-message-status">online</p>
                </div>
            </div>
            <div class="chatbot-close">
                <i class="material-icons">close</i>
            </div>
        </div>

        <div class="chatbox-message-content">
            <h4 class="chatbox-message-no-message">You don't have message yet!</h4>
        </div>
        <div class="chatbox-message-bottom">
            <form action="#" class="chatbox-message-form">
                <textarea rows="1" placeholder="Type message..." class="chatbox-message-input"></textarea>
                <button class="waves-effect waves-light btn-small" type="submit" name="action">
                    <i class="material-icons">send</i>
                </button>
            </form>
        </div>
      </div>
    </div>

  {% endblock float_botton %}

  {% block footer %}
  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">University of Canterbury</h5>
          <p class="grey-text text-lighten-4">UC has proudly been serving communities in New Zealand and the world for 150 years! Today we rank in the top 1% of universities worldwide. Our values—manaakitanga, whanaungatanga, and tiakitanga—help us empower others and be our best in our work, studies, and how we interact with each other.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">References</h5>
          <ul>
            <li><a class="white-text" href="https://www.stats.govt.nz/">Stats NZ</a></li>
            <li><a class="white-text" href="https://www.opespartners.co.nz/house-prices/christchurch">Christchurch mean house price (by Ope Partner)</a></li>
            <li><a class="white-text" href="https://www.corelogic.co.nz/our-data/mapping-market">Mapping the market (CoreLogic NZ)</a></li>
            <li><a class="white-text" href="https://github.com/langchain-ai/langchain">LangChain-AI</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Contact Me</h5>
            <a class="white-text">Email: yli431@uclive.ac.nz</a>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="#">yli431</a>
      </div>
    </div>
  </footer>
  {% endblock footer %}


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'materialize.js' %}"></script>
  <script src="{% static 'init.js' %}"></script>
  <script src="{% static 'chatbot.js' %}"></script>
  <script src="{% static 'dropdownlist.js' %}"></script>

</body>
</html>
