<!DOCTYPE html>

{% load static %}

{% block header %}
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Parallax Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  {% comment %} <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/> {% endcomment %}
  <link type="text/css" rel="stylesheet" href="{% static 'materialize.css' %}">
  <link type="text/css" rel="stylesheet" href="{% static 'style.css' %}">
  {% comment %} <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/> {% endcomment %}
</head>
{% endblock header %}
<body>

  {% block navigation_bar %}
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">2023 Summer Project</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Quick Links</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  {% endblock navigation_bar %}

  {% block content %}{% endblock content %}

  {% block footer %}
  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">University of Canterbury</h5>
          <p class="grey-text text-lighten-4">UC has proudly been serving communities in New Zealand and the world for 150 years! Today we rank in the top 1% of universities worldwide. Our values—manaakitanga, whanaungatanga, and tiakitanga—help us empower others and be our best in our work, studies, and how we interact with each other.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">References</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="#">yli431</a>
      </div>
    </div>
  </footer>
  {% endblock footer %}


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'materialize.js' %}"></script>
  <script src="{% static 'init.js' %}"></script>
  {% comment %} <script src="js/materialize.js"></script>
  <script src="js/init.js"></script> {% endcomment %}

  </body>
</html>
