<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
	<meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="{% static 'chatbot.css' %}">
  <link type="text/css" rel="stylesheet" href="{% static 'materialize.css' %}">
	<title>Chatbox</title>
</head>

<body>
	<div class="chatbox-wrapper">
		<div class="chatbox-toggle teal">
			<i class="material-icons">chat</i>
		</div>

		<div class="chatbox-message-wrapper">
			<div class="chatbox-message-header">
				<div class="chatbox-message-profile">
					<img src="{% static 'chatbot.png' %}" alt="" class="chatbox-message-image">
					<div>
						<h4 class="chatbox-message-name">Chatbot</h4>
						<p class="chatbox-message-status">online</p>
					</div>
				</div>
        <div class="chatbot-close">
          <i class="material-icons">close</i>
        </div>
			</div>

      <div class="chatbox-message-content">
				<h4 class="chatbox-message-no-message">You don't have message yet!</h4>
			</div>
			<div class="chatbox-message-bottom">
				<form action="#" class="chatbox-message-form">
					<textarea rows="1" placeholder="Type message..." class="chatbox-message-input"></textarea>
            <button class="waves-effect waves-light btn-small" type="submit" name="action">
              <i class="material-icons">send</i>
            </button>
				</form>
			</div>
		</div>
	</div>
	
<script src="{% static 'chatbot.js' %}"></script>
<script src="{% static 'materialize.js' %}"></script>
</body>
</html>