<!DOCTYPE html>

{% extends 'project_website/base_and_chat.html' %}
{% load static %}


{% block content %}

<div class="container">
  <div class="section">
    
    <!--   Icon Section 3  -->
    <div class="row">
      <div class="col s12"><div class="icon-block"></div></div>
      
      <div class="col l12">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">filter_1</i></h2>
          <h5 class="center">House Value Change</h5>
            <div class="chart">
              <canvas id="house_value_of_chchsuburbs" class="chart-canvas" height="200"></canvas>
            </div>
            <div class="right">
              <a class="waves-effect waves-light btn" id="display_all_lines">
                Display all
              </a>
              <a class="waves-effect waves-light btn" id="hide_all_lines">
                Hide all
              </a>
              <a class="waves-effect waves-light btn" id="display_default_lines">
                Display default
              </a>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--   Icon Section 1  -->
<div class="container">
  <div class="section">
      <div class="row">
        <div class="col m6">
          <div class="icon-block">
              <h2 class="center brown-text"><i class="material-icons">filter_1</i></h2>
              <h5 class="center">Mortgage Rate</h5>
                <div class="chart">
                  <canvas id="mortgage_rate" class="chart-canvas" height="170"></canvas>
                </div>
          </div>
        </div>
        <div class="amplified-chart-container" id="amplifiedChart">
        </div>

        <div class="col m6">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">filter_2</i></h2>
            <h5 class="center">Family Income</h5>
              <div class="chart">
                <canvas id="family_income" class="chart-canvas" height="170"></canvas>
              </div>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="section">
      
      <!--   Icon Section 2  -->
      <div class="row">
        <div class="col m6">
          <div class="icon-block">
              <h2 class="center brown-text"><i class="material-icons">filter_3</i></h2>
              <h5 class="center">House Value Growth</h5>
              <div class="chart">
                <canvas id="house_value_growth" class="chart-canvas" height="170"></canvas>
              </div>
            </a>
          </div>
        </div>
        
        <div class="col m6">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">filter_4</i></h2>
            <h5 class="center">Rental Growth</h5>
              <div class="chart">
                <canvas id="rental_growth" class="chart-canvas" height="170"></canvas>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section">
      
      <!--   Icon Section 3  -->
      <div class="row">
        <div class="col s12">
          <div class="icon-block">
              <h2 class="center brown-text"><i class="material-icons">filter_5</i></h2>
              <h5 class="center">NZ House Value (by region/district)</h5>
              <div class="chart">
                <canvas id="house_value_nz" class="chart-canvas" height="300"></canvas>
              </div>
            </a>
          </div>
        </div>
        
        <div class="col l12">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">filter_6</i></h2>
            <h5 class="center">House Value Change</h5>
              <div class="chart">
                <canvas id="house_value_and_change" class="chart-canvas" height="300"></canvas>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="module" src="{% static 'mortgagerate.js' %}"></script>
    <script type="module" src="{% static 'familyincome.js' %}"></script>
    <script type="module" src="{% static 'rentalgrowth.js' %}"></script>
    <script type="module" src="{% static 'housevaluegrowth.js' %}"></script>
    <script type="module" src="{% static 'housevaluenz.js' %}"></script>
    <script type="module" src="{% static 'housevalueandchange.js' %}"></script>
    <script type="module" src="{% static 'amplified_chart.js' %}"></script>
    <script type="module" src="{% static 'meanhousevalueofsuburbs.js' %}"></script>

{% endblock content %}
